<f:if condition="{author.name}">{author.name}</f:if>
<f:if condition="{author.title}">{author.title}</f:if>
<f:if condition="{author.website}">{author.website}</f:if>
<f:if condition="{author.email}">{author.email}</f:if>
<f:if condition="{author.location}">{author.location}</f:if>
<f:if condition="{author.twitter}">{author.twitter}</f:if>
<f:if condition="{author.linkedin}">{author.linkedin}</f:if>
<f:if condition="{author.xing}">{author.xing}</f:if>
<f:if condition="{author.instagram}">{author.instagram}</f:if>
<f:if condition="{author.profile}">{author.profile}</f:if>
<f:if condition="{author.bio}">{author.bio}</f:if>
<f:if condition="{author.detailsPage}">{author.detailsPage}</f:if>
<f:if condition="{author.image}">
    <f:image image="{author.image}" alt="author.name" />
</f:if>
